@{
    ViewData["Title"] = "Current Auction";
}
@{
        <p>@ViewBag.User.Name</p>
        <p>@ViewBag.User.NickName</p>
        <p>@ViewBag.User.Email</p>
        <p>Total Number of Posts: @ViewBag.Posted</p>
        <p>Total Number of Likes: @ViewBag.Likes</p>

}